<div data-position="fixed" data-role="header" id="companies_header" class="ui-header ui-bar-a ui-header-fixed slidedown" role="banner">
    <div data-bind="text: view_model.title" class="ui-title" role="heading" aria-level="1"></div>
    <a href="#" data-rel="back" data-icon="back" data-iconpos="notext" data-transition="slide" data-corners="true" data-shadow="true" data-iconshadow="true" class="ui-btn-left ui-btn-icon-notext"
       data-theme="a" data-shadow="true"  data-wrapperels="span" title="back">Back</a>
    <a href="#" data-bind="click: $root.openPanel" data-icon="grid" data-iconpos="notext" data-rel="popup" data-transition="slide" data-position-to="window" class="ui-btn-right ui-btn-icon-notext"
       data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="a" aria-haspopup="true" aria-owns="#" title="actions"></a>
</div>
