<div id="projects" data-role="page" class="type-interior">
    <div data-role="header" data-theme="f">
        <h1>My Projects</h1>
        <a href="#company_entity_project" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
        <a href="#popupPanel"  data-icon="grid" data-iconpos="notext" data-rel="popup" data-transition="slide" data-position-to="window">actions</a>
    </div><!-- /header -->

    <div data-role="content">


        <!--<div data-role="popup" id="popupPanel" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">-->

        <!--</div>-->
    </div><!-- /content -->
    <div data-role="footer" class="footer-docs" data-theme="c">
        <p class="jqm-version"></p>
        <p>&copy; 2012</p>
    </div>
</div>