<div>
    <ul  data-bind="foreach: entities" data-role='listview'   data-filter='true' data-filter-placeholder='Search entity...' data-inset='true'>
        <li data-bind="click: $root.getProjects">
            <!--<a href="#">-->
                <h3 data-bind="text: name"></h3>
                <!--<p data-bind="text: description"></p>-->
                <p data-bind="text: name"> </p>
                <!--<span class="ui-li-count" data-bind="text: projects().length"></span>
            </a>-->
        </li>
    </ul>
</div>