<div id="loginContent" style="margin: 0 auto; margin-top:auto; margin-bottom:0; ">
    <span id="loginError" data-bind="text: statusMessage" ></span>
    <form id="signInForm" data-ajax="false">
        <div data-role="fieldcontain">
            <label for="login_input">Username</label>
            <input id="login_input" name="j_username" type="text" size="25" autocorrect="off" autocapitalize="off" />
        </div>
        <div data-role="fieldcontain">
            <label for="password">Password</label>
            <input id="password" name="j_password" type="password" size="25" />
        </div>

        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <label><input id="rememberMe"  type='checkbox' name='_spring_security_remember_me' data-inline="true"/> Remember me </label>
            </div>
            <div class="ui-block-a">
                <input id="submitinput" data-bind="click: $root.doLogin" type="submit" value="login" />
            </div>
        </fieldset>
    </form>
</div>