<div id="container" data-role="page" data-theme="a"   class="type-interior">
    <div  data-role="header" data-position="fixed">
        <h1>Modular Backbone</h1>
    </div>
    <!-- /header -->
    <div data-role="content">

        <div id="menu">
            <a href="#companies" data-role="button" data-icon="arrow-r" data-iconpos="right">Companies</a>
            <a href="#" data-role="button" data-icon="arrow-r" data-iconpos="right">My Account</a>
        </div>
    </div>

    <div id="footer" data-role="footer" data-position="fixed">
    </div>
</div>


<div id="companies" data-role="page" data-theme="a"   class="type-interior">
    <div  data-role="header" data-position="fixed">

    </div>
    <!-- /header -->

    <div data-role="content">


        <!--<div data-role="popup" id="popupPanel" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">-->

        <!--</div>-->
    </div>
    <!-- /content -->
    <div data-role="footer"  data-position="fixed">
        <p class="jqm-version"></p>

        <p>&copy; 2012</p>
    </div>
</div>

<!-- Start of second page: #two -->
<div data-role="page" id="entities" data-theme="a"   data-add-back-btn="true">

    <div  data-role="header" data-position="fixed">
    </div><!-- /header -->

    <div data-role="content" >


    </div><!-- /content -->

    <div data-role="footer" data-position="fixed">
    </div><!-- /footer -->
</div><!-- /page two -->

<!-- Start of second page: #two -->
<div data-role="page" id="projects" data-theme="a"   data-add-back-btn="true">

    <div data-role="header" data-position="fixed">

    </div><!-- /header -->

    <div data-role="content" >


    </div><!-- /content -->

    <div data-role="footer" data-position="fixed">
        <h4>Page Footer</h4>
    </div><!-- /footer -->
</div><!-- /page two -->

<!-- Start of second page: #two -->
<div data-role="page" id="MyProject" data-theme="a"   data-add-back-btn="true">

    <div  data-role="header" data-position="fixed">

    </div><!-- /header -->

    <div data-role="content">



    </div><!-- /content -->

    <div data-role="footer" data-position="fixed">
        <h4>Page Footer</h4>
    </div><!-- /footer -->
</div><!-- /page two -->