<div class="panel" data-role="popup" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
    <a href="#container" data-role="button" data-theme="a" data-icon="home"  data-mini="true" data-direction="reverse">Home</a>
    <button data-theme="a" data-icon="gear" data-mini="true">Settings</button>
    <button data-theme="a" data-icon="plus" data-mini="true">Add</button>
    <button data-theme="a" data-icon="search" data-mini="true">Search</button>
    <a href="#" data-bind='click: $root.logout' data-role="button" data-theme="a" data-icon="power" data-mini="true">logout</a>
</div>