<div>
<!-- <ul  data-role='listview'  data-inset='true' data-filter='true' data-filter-placeholder='Search ticker or firm name...' data-autodividers='true' data-add-back-btn='true'>
   <% _.each(projects, function(project){ %>
    <li><%= project.get("name") %> - <%= project.get("score") %></li>
   <% }); %>
 </ul> -->

    <ul  data-bind="foreach: companies" data-role='listview'  data-inset='true' data-filter='true' data-filter-placeholder='Search company...' data-add-back-btn='true'>
        <li>
                <h3 data-rel='back' data-bind="text: name"></h3>
                <!--<p data-bind="text: description"></p>-->
                <p data-bind="text: name"> </p>
                <span class="ui-li-count" data-bind="text: entities().length"></span>
            <ul  data-bind="foreach: entities" data-role='listview'  data-inset='true' data-filter='true' data-filter-placeholder='Search entity...' data-add-back-btn='true'>
                <li>
                        <h3 data-rel='back' data-bind="text: name"></h3>
                        <!--<p data-bind="text: description"></p>-->
                        <p data-bind="text: name"> </p>
                        <span class="ui-li-count" data-bind="text: projects().length"></span>

                    <ul  data-bind="foreach: projects" data-role='listview'  data-inset='true' data-filter='true' data-filter-placeholder='Search ticker or firm name...' data-add-back-btn='true'>
                        <li>
                            <a href="#"  >
                                <h3 data-bind="text: name"></h3>
                                <!--<p data-bind="text: description"></p>-->
                                <p data-bind="text: name"> </p>
                            </a>

                            <a href="" data-icon="gear" data-rel="popup" data-transition="pop" data-bind="click: $root.editProject">actions</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>






<div data-role="popup" id="projectMenu">
    <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="b">
        <li data-role="divider" data-theme="a" >actions</li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">delete</a></li>
    </ul>
</div>
</div>